@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:.03px;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
}