@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.converter-space{
    width:30%;
    height:75%;
    border:2px solid black;
}

.top-section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-section{
    border:2px solid white;
    height:6rem;
}

.themometer{
    width:5rem;
    height:5rem;
    object-fit: cover;

}

.main-section{
    border:2px solid white;
    height:20.4rem;
}